<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>

    <style></style>
  </head>

  <body>
    <div>
      <img src="./images/unified.JPG" />
    </div>
    <section class="container">
      <div class="wrapper">
        <div class="row">
          <h4 style="margin: auto; margin-top: 100px; margin-bottom: 40px">
            Bitte laden Sie die Datei hier hoch
          </h4>
          <br />
          <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-upload" />
                <label class="custom-file-label" for="customFile"
                  >Choose file</label
                >
              </div>
              <div>
                <div id="fileAlert"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
